/* Variables definitions
   ========================================================================== */

$black: #000000;
$white: #ffffff;
$eyGrey: #707070;
$eyOffBlack: #2e2e38;
$eyMidnightBlack: #1a1a24;
$eyBlack: #333333;
$eyGrayDark: #404040;
$eyGrayLight: #e0e0e1;
$eyYellow: #ffe600;
$eyOffYellow: #ddc805;
$eyGrayPale: #dbdbe0;
$eyPaleGrey: #e0e0e5;

$eyPrimaryBlue: #71c6d0;
$eyPrimaryGreen: #67be9c;
$eyPrimaryPurple: #a182ba;

$eyPrimaryPurple: #750e5c;
$eyPrimaryOrange: #ff6d00;
$eyPrimaryGreen: #2db757;
$eyPrimaryCyan: #27acaa;
$eyPrimaryBlue: #188ce5;
$eyPrimaryPurpleDark: #3d108a;
$eyPrimaryGray: #c4c4cd;
$eyYellowPale: #e6d80e;
$eyOffWhite: #f6f6fa;
$eyDarkGrey: #747480;
$fsotAppBg: #E7E7F8;


$eyHoverYellow: rgba(255, 230, 0, 0.9);
$eyHoverBlue: rgba(24, 140, 229, 0.9);
$eyHoverOrange: rgba(255, 152, 49, 0.9);
$eyHoverGreen: rgba(45, 183, 87, 0.9);
$eyHoverPink: rgba(218, 133, 171, 0.5);
$eyHoverGrey: rgba(245, 245, 250, 0.9);

$eyOffBlackOpac: rgba(46, 46, 56, 0.3);
$eySharkGreyOpac: rgba(116, 116, 128, 0.3);

$eyOrangeOpac6: rgba(255, 152, 49, 0.6);
$eyOrangeOpac3: rgba(255, 152, 49, 0.3);
$eyOrangePale: rgba(255, 152, 49, 0.15);
$eyPaleGreyOpac: rgba(246, 246, 250, 0.85);

$repositioning: #d06a61;
$transformation: #9ab0c7;
$enterprise: #caac84;

$eyRed: #ed1c24;
$eyAmber: #ffaf46;
$eyGreen: #269556;

$eyTextGrey: #f6f6fa;
$eyTextGreen: #168736;
$eyTextRed: #b9251c;
$eyTextBlack: #2e2e3c;