.fsot__profile-cont{
    display: flex;
    padding: 2rem 0;
}

.fsot__profile-icon{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;   
}

.fsot__profile-list{
    list-style: none;
    padding-top: 10px;

    &--item{
        line-height: 1.2;

        &:first-child{
            font-weight: 700;
            margin-bottom: .5rem;
        }
    }
}

.light-theme{
    color: $eyOffBlack;
}


.dark-theme{
    color: $eyOffWhite;
}
