#modal {
  z-index: 2;
  position: relative;
}

.modal {
  &_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: 0.35);
    opacity: 1;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 999;
  }

  &_container {
    background-color: $white;
    width: calc(40rem + 15vw);
    height: auto;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: row;
  }
}

.modal_wrapper.show {
  visibility: visible;
  opacity: 1;
  animation: 1s ease-out;

  #modal {
    transform: translateY(0);
  }
}

.fsot__video-modal-cont {
  display: flex;
  flex-direction: column;
  background-color: $eyOffBlack;
  padding: 4rem;
  width: 90%;
  max-width: 1600px;
  max-height: 87vh;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.fsot__video-modal-innner {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.fsot__video-modal-media {
  display: block;
  width: 100%;

  @include mq($from: desktop) {
    width: 50%;
    margin-bottom: 0;
  }
}

.fsot__video-modal-video {
  flex-basis: 100%;
  margin-bottom: 1rem;

  @include mq($from: desktop) {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

.fsot__video-modal-noMedia-content {
  width: 100%;
  color: $eyOffWhite;
}

.fsot__video-modal-content {
  flex-basis: 100%;
  color: $eyOffWhite;
  padding: 0;
  height: 100%;
  overflow-y: auto;

  @include mq($from: desktop) {
    flex-basis: 50%;
    padding: 0 2rem;
  }
}

.fsot__video-modal-close {
  position: relative;
  top: -22px;
  left: 51%;
  z-index: 9999;

  @include mq($from: desktop) {
    left: 99%;
  }
}

.fsot__video-card-intro {
  text-decoration: none;
  color: $white;
}
