.fsot__share-link{
    display: block;
    text-decoration: none;
    color: $eyOffWhite;
    text-align: end;
    padding: 1rem 2rem;
}

.fsot__share-icon{
    width: 20px;
    margin-right: 5px;
}

// .fsot__share-span{
//     @include fontSize(14px);
// }